{{>_navbar}}
<section class="about">
    <h2 class="_root_h2 --aboutH2">Por que desenvolvi esse projeto?</h2>

    <p>     Desenvolvi esse projeto com o intuito de aprender um pouco mais sobre o que era o NodeJs e como funcionava essa questão de salvar dados no banco de dados, como que eu poderia pegar esses dados no banco de dados e mostrá-los em alguma view. Também queria saber como deletar dados, como que eu poderia salvar imagens do banco de dados, como alterá-los e manipulá-los.</p><br>

    <p>    Queria aprender também como criar um swiper estilo o do netflix e como fazer um slider carousel onde as imagens mudam com uma transição de opacidade.</p><br>


    <p>      Então decidi juntar todas essas dúvidas e criar esse projeto para estudar e entender melhor como funciona essas coisas.</p><br>

    <p></p>
</section>
